@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 100%;

}

header {
    font-size: 16px;
    background-color: #311354;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



header img {
    margin-right: 10px;
    border-radius: 50%;
    
}

.slider {
    margin: 0 auto;
    width: 600px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;

}

.slides {
    width: 600%;
    height: 200px;
    display: flex;
    

}

.slides input{
    display: none;
    align-items: center;

}

.slide {
    width: 25%;
    position: center;
    transition: 2s;
    align-items: center;
}
.slide img{
    width: 600px;
    align-items: center;

}
.manual-navigation {
    position: absolute;
    width: 600px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.manual-btn {
    border: 2px solid #e0d9e4;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
    align-items: center;
    
}
.manual-btn:not(:last-child ){
    margin-right: 40px;
    align-items: center;

}

.manual-btn:hover{
    background-color: #000000;
    align-items: center;
}

#radio1:checked ~ .first{
    margin-left: 0;
    align-items: center;
}
#radio2:checked ~ .first{
    margin-left: -25%;
    align-items: center;
}
#radio3:checked ~ .first{
    margin-left: -50%;
    align-items: center;
}
#radio4:checked ~ .first{
    margin-left: -75%;
    align-items: center;
}

.navigation-auto div{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    align-items: center;

}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
    align-items: center;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #000000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #000000;
}

.container {
    background-color: #d1d1d1;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 0;
    font-size: 18px;
    align-items: center;
  }

  .input-task {
   border: 2px solid #ccc;
    border-radius: 50px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 15px;
    margin-top: 10px;
    transition: border-color 0.3s;
    align-items: center;
  
  }

  .input-task:focus {
    border-color: #311354;
}

  .button-add-task {
    border: none;
    border-radius: 50px;
    height: 40px;
    background-color: rgb(105, 4, 126);
    color: rgb(248, 248, 248);
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(85, 3, 102);
  
  }


.button-add-task:hover {
    opacity: 0.8;
  }
  .button-add-task:active {
    opacity: 0.2;
  }
  
  .list-tasks {
    width: 100%;
    list-style: none;
    border-radius: 20px;
    margin-top: 15px;
    align-items: center;
  }

  .task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px 20px 5px;
    margin-bottom: 20px;
    cursor: pointer;
   
  }

  .task:hover img {
    opacity: 1;
  }
  
.imagem{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  
}
  
  .done {
    background-color: #311354;
    text-decoration: line-through;
  
  }

  footer{
    background-color: #311354;
    color: antiquewhite;
    width: 100%;
    font-size: 10px;
  }
  footer{
    background-color: #4d008b;
    color: antiquewhite;
    font-size: 10px;
  }
